<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  
  <title>Mmm Restaurant | Very Delicious Luxury Dinner</title>
  <link rel="icon" type="image/x-icon" href="./images/favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#DB0000"/>
</head>
<body>
  <a href="#/#mainContent" class="skip-link">Skip to Content</a>
  
  <header>
    <div class="nav-grid">
      <div>
        <a href="/">
          <img src="./images/mmm-logo.png" alt="Mmm Restaurant Logo" width="137px" height="70px" />
        </a>
      </div>
      <div>
        <!-- <a id="hamburger" href="#">☰</a> -->
        <button id="hamburger" >☰</button>
        <nav id="drawer-desktop">
          <ul>
            <li><a href="#/">HOME</a></li>
            <li><a href="#/favorite">FAVORITE</a></li>
            <li><a href="https://www.linkedin.com/in/fathhana-euclidea/" target="_blank">ABOUT US</a></li>
          </ul>
        </nav>
      </div>
      
    </div>
    <nav id="drawer">
      <ul>
        <li><a href="/" style="border-bottom: 1px solid #fff;"><img src="./images/mmm-logo-white.png" alt="Mmm Restaurant Logo" /></a></li>
        <li><a href="#/">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/fathhana-euclidea/" target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent" tabindex="0">
  </main>
  <footer>
    Copyright &#169; 2022 - Mmm Restaurant
  </footer>
</body>
<script> 
// const hamburgerButtonElement = document.getElementById('#hamburger');
// const drawerElement = document.getElementById('#drawer');
 
// hamburgerButtonElement.addEventListener('click', event => {
//   console.log('klik')
//   drawerElement.classList.toggle('open');
//   event.stopPropagation();
// });
</script>
</html>
